
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.p_centerPart{
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
/* @keyframes float {
  0% {
    transform: translateY(0) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: translateY(-50px) rotateX(10deg) rotateY(10deg);
  }
  100% {
    transform: translateY(0) rotateX(0deg) rotateY(0deg);
  }
} */

@keyframes float {
  0% {
    transform: translateY(var(--translateY-start,0)) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: translateY(calc(-50px)) rotateX(calc(10deg)) rotateY(calc(var(--rotateY, 10deg)));
  }
  100% {
    transform: translateY(0) rotateX(0deg) rotateY( 0deg);
  }
}

.bubble {
  animation: float 5s ease-in-out infinite;
  cursor: pointer;
  box-shadow: 3px 3px 10px rgba(135, 133, 133, 0.31);
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bubble2 {
  animation: float 2s ease-out infinite;
  cursor: pointer;
  box-shadow: 5px 6px 10px rgba(255, 0, 0, 0.2);
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
  --translateY-start:0;
}

.bubble3{
  animation: float 5s ease-out infinite;
  --translateY-start:10;
}
.bubble4{
  animation: float 5s ease-out infinite;
  --translateY-start:-40;
}

.text_custom{
  color: white;
  background-color: rgba(0, 0, 0, 0.4);;
  letter-spacing: 0.2ch;
  font-style: italic;
  transition: 0.5s ease-in-out;
  font-family: Cambria;

  
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.text_custom:hover
{
  color: black;

}

.slide—in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: black;
  transform-origin: bottom;
}
.slide—out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: black;
  transform-origin: top;
}