@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  display: flex;
  flex-direction: column; /* Column direction to center body vertically */
  justify-content: center; /* Center body vertically */
  align-items: center; /* Center body horizontally */
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background: radial-gradient(circle, rgb(124, 124, 124) 0%, rgb(0, 0, 0) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-synthesis: none; 
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  flex-direction: column; /* Stack content vertically */
  align-items: center; /* Center content horizontally within body */
  justify-content: center; /* Center content vertically within body */
  width: 100%; /* Allow body to shrink within root */
  max-width: 1200px; /* Optional: set a max width for the body */
  margin: 0 auto; /* Center body horizontally with auto margin */
}


/* Media Queries for Smaller Screens */
@media (max-width: 768px) {
  body {
    padding: 10px; /* Reduce padding on smaller screens */
  }}